main .team {
    --main-color: white;
    --secondary-color: black;
    background-color: #72bb53;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
}

main .team .head h2 {
    font-size: 30px;
    color: var(--main-color);
}

main .team .head {
    /*margin:  10px 10px;  не працює марджин!!!!! включити флекс*/
    margin: 40px 0;
    padding-left: 50px;
    text-align: center;
    /*align-content:center;*/
    /*align-items:center;*/
    /*justify-content:center;*/
    /*justify-items:center;*/
    /*justify-self:center;*/
    /*align-item:center;*/
    /*ustify-item:center;*/
    /*align-self:center;*/
}


main .team {
    display: flex;
    flex-direction: column;
}

main .team .personel .carusel .container-arrows input,
main .team .personel .carusel .container-arrows img {
    display: block;
    width: 100%;
}

main .team .personel {
    display: flex;
    flex-direction: row-reverse;
    /*flex-wrap:wrap;*/
    justify-content: space-evenly;
    margin-bottom: 30px;
}

[class^="doctor"]>img {
    width: 100%;
    display: block;
}

main .team .personel-about-info {

    display: block;
    width: 440px;
    margin-left: 25px;
    padding: 10px;
    align-self: center;
}

main .team .personel .personel-about-info p {
    color: var(--main-color);
    font-size: 14px;
    box-sizing: border-box;
    display: block;
}

main .team .personel .small-pic-personel {
    display: grid;

    grid-template-columns: 94px 94px;
    grid-template-rows: repeat(4, 94px);
    grid-template-areas: " doctor1 . " " . doctor2 " " . doctor3 " " doctor4 . ";
    grid-gap: 10px;
    margin: 0 60px 60px 30px;
    justify-items: center;
}

main .team .personel .small-pic-personel>div {
    border: 1px solid #72bb53;
    border-radius: 50%;
    padding: 5px;
}

main .team .personel .small-pic-personel .doctor1 {
    grid-area: doctor1;
    align-self: center;
    border-color: #fff;
}

main .team .personel .small-pic-personel .doctor2 {
    grid-area: doctor2;
    align-self: center;
}

main .team .personel .small-pic-personel .doctor3 {
    grid-area: doctor3;
    justify-self: center;
    align-self: end;
}

main .team .personel .small-pic-personel .doctor4 {
    grid-area: doctor4;
    justify-self: center;
    align-self: center;
}

input[type="image"] {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes flash {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

main .team .personel .carusel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}

main .team .personel .carusel .container-arrows {
    display: flex;
}

main .team .personel .carusel .container-arrows .professor img {
    width: 250px;
    height: 250px;
    display: block;
}

main .team .personel .carusel .container-arrows .professor {
    margin: 0 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

main .team .personel .carusel .container-arrows .left-arrow,
main .team .personel .carusel .container-arrows .right-arrow {
    align-self: center;
    width: 48px;
}

main .team .personel .carusel .container-arrows input {
    outline: none;
}


main .team .personel .carusel .personel-info {
    align-self: center;
}

main .team .personel .carusel .personel-info h4 {
    color: var(--main-color);
    font-size: 24px;
    margin: 30px 0 20px 0;
}

main .team .personel .carusel .personel-info h5 {
    color: var(--main-color);
    font-size: 18px;
    margin: 0 0 20px 0;
    text-align: center;
}

/* bootstarp caruseling*/
.carusel1 .carousel-inner {
    /*border: 1px solid #fff;*/
    /*border-radius: 50%;*/
    /*padding: 10px;*/
    /*width: ;*/
}

.carusel1 .carousel {
    margin-left: 100px;
}

.carusel1 .carousel .carousel-inner .carousel-item .carousel-caption {
    position: initial;
    display: block;
}

.carusel1 .carousel {
    height: 500px;
    width: 500px;
    /*height: auto;*/
}

.carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h4 {
    margin: 30px 0 30px 0;
    text-align: center;
}

.carusel1 .carousel .carousel-inner .carousel-item .carousel-caption p {
    margin-bottom: 20px;
    text-align: center;

}

.carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    margin: 30px 0 30px 0;
    text-align: center;
}

.carusel1 .carousel .carousel-inner .carousel-item img {
    /*width: 100%;*/
    height: 250px;
    width: 250px;
    /*height:50%;*/
    display: block;
    /*margin-left: 120px;*/
    margin: auto;
}


@media (max-width: 920px) {
    main .team .personel-about-info {
        align-self: flex-end;
        display: none;
    }

    main .team .head {
        padding-left: 0px;
        text-align: center;
    }

    main .team .personel .carusel {
        margin-right: 3px;
    }

    main .team .personel {
        justify-content: center;
    }

    main .team .personel .small-pic-personel {
        /*margin:auto;*/
        margin: 0 30px 0 30px;
    }
}

@media (max-width: 821px) {
    main .team .personel .small-pic-personel {
        display: none;
    }

    main .team .personel .carusel {
        margin: auto;
    }

    .carusel1 .carousel {
        margin-left: 10px;
    }
}

@media (max-width: 691px) {
    main .team .head h2 {
        font-size: 25px;
    }

    .carusel1 .carousel {
        /*height: 500px;*/
        width: 500px;
        height: 430px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item img {
        /*width: 100%;*/
        height: 170px;
        width: 170px;
        /*height:50%;*/
        display: block;

    }
    main .team .personel .carusel .container-arrows .professor img {
        width: 170px;
        height: 170px;
        display: block;
    }

    main .team .personel .carusel .container-arrows .left-arrow,
    main .team .personel .carusel .container-arrows .right-arrow {
        width: 40px;
    }

    main .team .personel .carusel .container-arrows .professor {
        margin: 0 10px;
    }

    main .team .personel .carusel .personel-info h4 {
        font-size: 21px;
    }

    main .team .personel .carusel .personel-info h5 {
        font-size: 16px;
    }

    main .team .personel .carusel .personel-info {
        margin: auto;
    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h4 {
        /*margin:30px 0 30px 0;*/
        font-size: 20px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption p {
        /*margin-bottom: 20px;*/
        font-size: 16px;

    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        /*margin:30px 0 30px 0;*/
        font-size: 18px;
    }
}

@media (max-width: 561px) {
    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption p {
        display: none;
    }

    .carusel1 .carousel {
        width: 400px;
        height: auto;
    }

    .carousel-control-prev {
        margin-left: 50px;
    }
    .carousel-control-next {
        margin-right: 50px;
    }
}


@media (max-width: 350px) {

    main .team .personel .carusel .container-arrows .professor img {
        width: 150px;
        height: 150px;
    }

    main .team .personel .carusel .personel-info h4 {
        font-size: 19px;
    }

    main .team .personel .carusel .personel-info h5 {
        font-size: 14px;
    }

    main .team .personel .carusel .container-arrows .left-arrow,
    main .team .personel .carusel .container-arrows .right-arrow {
        width: 32px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h4 {
        font-size: 18px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption p {
        /*margin-bottom: 20px;*/
        font-size: 14px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item .carousel-caption h5 {
        /*margin:30px 0 30px 0;*/
        font-size: 16px;
    }

    .carusel1 .carousel .carousel-inner .carousel-item img {
        height: 150px;
        width: 150px;
    }

    .carusel1 .carousel {
        /*height: 500px;*/
        width: 350px;
        height: auto;
    }
}